header {
  background-color: rgb(187, 186, 198);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 0;
  padding: 20px;
}

h1 {
  border-style: solid;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  background-color: rgb(187, 186, 198);
}

.categories-section {
  display: none;
}
/* table properties */
.transactionRow th {
  border: 1px solid black;
}

.transactionRow {
  text-align: center;
}

.transactionList {
  border: 2px solid black;
  height: 40%;
  width: 95%;
  display: flex;
  flex-direction: column;
  padding: 3%;
}

#transaction {
  width: 300px;
}

@media screen and (min-width: 800px) {
  html {
    background-color: rgb(124, 198, 254);
  }
  header {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    /* margin-left: 25%;
    margin-right: 25%; */
    padding: 20px;
    padding-bottom: 2px;
  }
  h1 {
    border-style: solid;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: rgb(124, 198, 254);
  }

  button {
    background-color: #408c99;
    border-color: #10abc7;
  }

  #maxBudget {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  #button {
    margin-top: 10px;
  }

  #container {
    padding-top: 30px;
    background-color: rgb(124, 198, 254);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
  #mobilePurchase {
    display: none;
  }
  #Drop {
    display: none;
  }
  #subcontainer {
    display: none;
  }

  #start,
  #remaining,
  #spent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  .categories-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(124, 198, 254);
    border-top: solid 2px;
    border-color: black;
  }

  .section-title {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }

  .category {
    display: flex;
    flex-direction: column;
    flex: 0 1 45%;
    min-width: auto;
  }
  .category input {
    width: 40%;
  }

  .myButton {
    box-shadow: 3px 4px 0px 0px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #599bb3;
    border-radius: 15px;
    border: 1px solid #29668f;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
    margin-top: 25px;
  }
  .myButton:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color: #408c99;
  }
  .myButton:active {
    position: relative;
    top: 1px;
  }
  /* Table Properties */
  .transactionList {
    display: none;
  }

  #sectionClothing {
    margin-top: 25px;
  }

  #sectionEntertainment {
    margin-top: 25px;
  }

  #reset {
    margin: 0;
    align-self: flex-end;
  }
}
